<template>
    <div class="col-lg-6 offset-3">
      <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Country Create</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <ValidationObserver v-slot="{ handleSubmit }">
              <form  @submit.prevent="handleSubmit(createCountry)">
                <div class="card-body">
                  <div class="form-group">
                        <ValidationProvider name="Country_Name" rules="required" v-slot="{ errors }">
                            <input type="text"
                            v-model="dataInsert.name"
                            class="form-control" 
                            placeholder="Enter county name"
                            >
                            <p style="color:red"><span>{{ errors[0] }}</span></p>
                        </ValidationProvider>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center">
                  <button type="submit" class="btn btn-primary btn-lg">Country Create</button>
                </div>
              </form>
              </ValidationObserver>
            </div>
            <!-- /.card -->
            </div>
        
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            dataInsert:{
                name: '',
            }
           
        }
    },
    methods: {
        createCountry(){
            axios.post('http://127.0.0.1:8000/api/country', this.dataInsert)
            .then((response) => {
              console.log(response.data);
            //   this.dataInsert=response.data
              this.dataInsert= "";
                this.$toast.success({
                    title:'success',
                    message:'blog Created Successfully.'
                });
            });
        }
    }
    
}
</script>