<template>
<div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td style="width:15%">Id</td>
                            <td style="width:65%">Country Name</td>
                            <td style="width:20%">Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(country, index) in countries" :key="index">
                            <td>{{ country.id }}</td>
                            <td>{{ country.name }}</td>
                            <td>
                                <router-link :to='/cedit/+country.id' class="btn btn-outline-success">Edit</router-link>
                                <a @click="deleteCountry(country.id)" class="btn btn-outline-danger ml-1">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>    
</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            countries: {},
            dataInsert:{
                name: '',
            }
        }
    },
    methods: {
        loadCountrys(){
            axios.get('http://127.0.0.1:8000/api/country')
            .then((response) => {
                this.countries = response.data;
            })
        },
        deleteCountry(id){
            axios.delete('http://127.0.0.1:8000/api/country/'+id)
            .then(() => {
                this.$toast.success({
                    title:'Success!',
                    message:'Blogy deleted successfully.'
                });
                this.loadCountrys();
            })
        },
        
    },
    created() {
        this.loadCountrys();
    },
    // mounted(){
    //     const token = localStorage.getItem('token');
    //     if(token == null){
    //         this.$router.push('/Login')
    //     }
    // },
    
}
</script>