<template>
    <div class="col-lg-6 offset-3">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">District Create</h3>
                            </div>
                            <ValidationObserver v-slot="{ handleSubmit }">
                            <form role="form" id="quickForm" @submit.prevent="handleSubmit(createDistrict)">
                                <div class="card-body">

                                    <div class="form-group">
                                        <ValidationProvider name="District" rules="required" v-slot="{ errors }">
                                            <input type="text"
                                            v-model="district.name"
                                            class="form-control"
                                            id="name" placeholder="Enter District name"
                                            >
                                            <p style="color:red"><span>{{ errors[0] }}</span></p>
                                        </ValidationProvider>
                                    </div>

                                    <div class="form-group">
                                        <ValidationProvider name="Division" rules="required" v-slot="{ errors }">
                                            <select v-model="district.division_id" class="form-control">
                                                <option selected disabled>Select Division</option>
                                                <option 
                                                v-for="(division, index) in divisions" :key="index" 
                                                :value="division.id">{{ division.name }}</option>
                                            </select>
                                            <p style="color:red"><span>{{ errors[0] }}</span></p>
                                        </ValidationProvider>
                                    </div>

                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-success ">District Create</button>
                                </div>
                            </form>
                            </ValidationObserver>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            // conutry_id:0,
            divisions: {},
            district:{
                name: '',
                division_id: ''
            }
        }
    },
    mounted() {
        this.getDivision();
    },
    methods:{
        createDistrict(){
            axios.post('http://127.0.0.1:8000/api/district', this.district)
            .then((response) => {
                console.log(response.data)
                this.district = "";
                this.$toast.success({ 
                    title:'Succss', 
                    message:'District Upload Succesfully'
                })
            })
        },

        getDivision(){
            axios.get('http://127.0.0.1:8000/api/division')
            .then((response) => {
                this.divisions = response.data;
            });
        }
    },
    
}
</script>