<template>
    <div class="col-lg-6 offset-3">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Division Create</h3>
                            </div>
                            <ValidationObserver v-slot="{ handleSubmit }">
                            <form role="form" id="quickForm" @submit.prevent="handleSubmit(createDivision)">
                                <div class="card-body">

                                    <div class="form-group">
                                        <ValidationProvider name="Division" rules="required" v-slot="{ errors }">
                                            <input type="text"
                                            v-model="division.name"
                                            class="form-control"
                                            id="name" placeholder="Enter Division name"
                                            >
                                            <p style="color:red"><span>{{ errors[0] }}</span></p>
                                        </ValidationProvider>
                                    </div>

                                    <div class="form-group">
                                        <ValidationProvider name="Country" rules="required" v-slot="{ errors }">
                                            <select v-model="division.country_id" class="form-control">
                                                <option selected disabled>Select Country</option>
                                                <option 
                                                v-for="(country, index) in countries" :key="index" 
                                                :value="country.id">{{ country.name }}</option>
                                            </select>
                                            <p style="color:red"><span>{{ errors[0] }}</span></p>
                                        </ValidationProvider>
                                    </div>

                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-success ">Division Create</button>
                                </div>
                            </form>
                            </ValidationObserver>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            countries: {},
            division:{
                name: '',
                country_id: ''
            }
        }
    },
    mounted() {
        this.getCountry();
    },
    methods:{
        createDivision(){
            // console.log(this.division)
            axios.post('http://127.0.0.1:8000/api/division', this.division)
            .then((response) => {
                console.log(response.data)
                this.division = "";
                this.$toast.success({ 
                    title:'Succss', 
                    message:'Division Upload Succesfully'
                })
            })
        },

        getCountry(){
            axios.get('http://127.0.0.1:8000/api/country')
            .then((response) => {
                this.countries = response.data;
            });
        }
    },
    
}
</script>