<template>
    <div class="col-lg-6 offset-3">
      <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Country Update</h3>
                
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <ValidationObserver v-slot="{ handleSubmit }">
              <form  @submit.prevent="handleSubmit(updateCountry)">
                <div class="card-body">
                  <div class="form-group">
                        <ValidationProvider name="Country_Name" rules="required" v-slot="{ errors }">
                            <input type="text"
                            v-model="dataInsert.name"
                            class="form-control"
                            >
                            <p style="color:red"><span>{{ errors[0] }}</span></p>
                        </ValidationProvider>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center">
                  <button type="submit" class="btn btn-primary btn-lg">Country Update</button>
                </div>
              </form>
              </ValidationObserver>
            </div>
            <!-- /.card -->
            </div>
        
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            dataInsert:{
                name: ''
            }
        }
    },
    mounted(){
        let id = this.$route.params.id
        axios.get('http://127.0.0.1:8000/api/country/'+id)
        .then((response) => {
            this.dataInsert = response.data;
            console.log(response.dataInsert);
        })
    },
    methods: {
        updateCountry(){
            let id = this.$route.params.id
            axios.put(`http://127.0.0.1:8000/api/country/${id}`, this.dataInsert)
            .then((response) => {
              console.log(response.data);
                this.$toast.success({
                    title:'success',
                    message:'Country Update Successfully.'
                });
            });
        }
    }
    
}
</script>