<template>
    <div class="col-lg-6 offset-3">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Thana Create</h3>
                            </div>
                            <ValidationObserver v-slot="{ handleSubmit }">
                            <form role="form" id="quickForm" @submit.prevent="handleSubmit(createThana)">
                                <div class="card-body">

                                    <div class="form-group">
                                        <ValidationProvider name="Thana" rules="required" v-slot="{ errors }">
                                            <input type="text"
                                            v-model="thana.name"
                                            class="form-control"
                                            id="name" placeholder="Enter Thana name"
                                            >
                                            <p style="color:red"><span>{{ errors[0] }}</span></p>
                                        </ValidationProvider>
                                    </div>

                                    <div class="form-group">
                                        <ValidationProvider name="District" rules="required" v-slot="{ errors }">
                                            <select v-model="thana.district_id" class="form-control">
                                                <option selected disabled>Select District</option>
                                                <option 
                                                v-for="(district, index) in districts" :key="index" 
                                                :value="district.id">{{ district.name }}</option>
                                            </select>
                                            <p style="color:red"><span>{{ errors[0] }}</span></p>
                                        </ValidationProvider>
                                    </div>

                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-success ">Thana Create</button>
                                </div>
                            </form>
                            </ValidationObserver>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            districts: {},
            thana:{
                name: '',
                district_id: ''
            }
        }
    },
    mounted() {
        this.getDistrict();
    },
    methods:{
        createThana(){
            console.log(this.thana);
            axios.post('http://127.0.0.1:8000/api/thana', this.thana)
            .then((response) => {
                console.log(response.data)
                this.thana = "";
                this.$toast.success({ 
                    title:'Succss', 
                    message:'Thana Upload Succesfully'
                })
            })
        },

        getDistrict(){
            axios.get('http://127.0.0.1:8000/api/district')
            .then((response) => {
                this.districts = response.data;
            });
        }
    },
    
}
</script>