<template>
<div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td style="width:10%">Id</td>
                            <td style="width:15%">Blog Namee</td>
                            <td style="width:45%">Blog Description</td>
                            <td style="width:15%">Publish Date</td>
                            <td style="width:15%">Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(blog, index) in blogs" :key="index">
                            <td>{{ blog.id }}</td>
                            <td>{{ blog.bname }}</td>
                            <td>{{ blog.bdescription }}</td>
                            <td>{{ blog.bpublish }}</td>
                            <td>
                                <router-link :to='/editblog/+blog.id' class="btn btn-outline-success">Edit</router-link>
                                <a @click="deleteBlog(blog.id)" class="btn btn-outline-danger ml-1">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>    
</template>
<script>
import axios from 'axios'
import { Form } from 'vform'
export default {
    data() {
        return {
            blogs: {},
            BlogForm: new Form({
                bname:'',
                bdescription:'',
                bpublish:'',
           })
        }
    },
    methods: {
        loadBlogs(){
            axios.get('http://127.0.0.1:8000/api/blog')
            .then((response) =>{   
                this.blogs = response.data;
                // console.log(response.data);
            })
        },
        deleteBlog(id){
            axios.delete(`http://127.0.0.1:8000/api/blog/`+id)
            .then(() => {
                this.$toast.success({
                    title:'Success!',
                    message:'Blogy deleted successfully.'
                });
                this.loadBlogs();
            })
        },
        
    },
    mounted(){
        const token = localStorage.getItem('token');
        if(token == null){
            this.$router.push('/Login')
        }
    },
    created() {
        this.loadBlogs();
    },
}
</script>
<style scoped>

</style>
