<template>
    <div class="row">
        <div class="content-wrapper offset-3 col-lg-6">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <form @submit.prevent="createblog">
                        <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Blog Name</label>

                            <input 
                            type="text"
                            v-model="BlogForm.bname"
                            :class="{ 'is-invalid': BlogForm.errors.has('bname') }"
                            class="form-control" 
                            placeholder="Enter Your Blog Name"
                            >
                            <has-error :form="BlogForm" field="bname"></has-error>
                        </div>
                        <div class="form-group">
                            <label>Blog Description</label>

                            <textarea 
                            class="form-control"
                            type="text"
                            v-model="BlogForm.bdescription" 
                             rows="3" 
                            placeholder="Enter Description"
                            :class="{ 'is-invalid': BlogForm.errors.has('bdescription') }">
                            
                            </textarea>
                            <has-error :form="BlogForm" field="bdescription"></has-error>

                        </div>
                         <div class="form-group">
                            <label for="exampleInputEmail1">Publish Date</label>

                            <input
                            type="date"
                            v-model="BlogForm.bpublish"
                            class="form-control" 
                            :class="{ 'is-invalid': BlogForm.errors.has('bpublish') }"
                            placeholder="Blog Publish Date"
                            >
                            <has-error :form="BlogForm" field="bpublish"></has-error>
                        </div>
                    
                       
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer ">
                        <button type="submit" class="btn btn-primary">Create Blog</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Form } from 'vform'
// import axios from 'axios'

export default {
   data(){
       return {
           blogs:{},
           BlogForm: new Form({
                bname:'',
                bdescription:'',
                bpublish:'',
           })   
       }
   },
   mounted(){
        const token = localStorage.getItem('token');
        if(token == null){
            this.$router.push('/Login')
        }
    },
    methods:{
        createblog(){
            this.BlogForm.post('http://127.0.0.1:8000/api/blog')
            .then(() =>{
            //   console.log(response.data);
              this.BlogForm.reset();
                this.$toast.success({
                            title:'success',
                            message:'blog Created Successfully.'
                        });
            });
             this.$router.push('/bloglist')
         }
    }
 }
</script>

<style>
 
</style>
