<template>
  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
         
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">All Files</h3>
                <router-link to="/mi" class="btn btn-outline-success" style="float:right;">Create Files</router-link>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>id</th>
                    <th>first file</th>
                    <th>secound file</th>
                    <th>third file</th>
                    <th>Fourth file</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(alldata, index) in allinputs" :key="index">
                    <td>{{ alldata.id }}</td>
                    <td><img :src="$image_path+ alldata.fileone" style="width:80px;"/></td>
                    <td><img :src="$image_path+ alldata.filetwo" style="width:80px;"/></td>
                    <td><img :src="$image_path+ alldata.filethree" style="width:80px;"/></td>
                    <td><img :src="$image_path+ alldata.filefour" style="width:80px;"/></td>
                    <td> 
                        <!-- <button class="btn btn-info">Edit</button> -->
                        <a @click.prevent="deleteFiles(alldata.id)" class="btn btn-danger ml-1">Delete</a>
                    </td>
                  </tr>
                </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              </div>
            <!-- /.card -->
             </div>
          <!-- /.col -->
           </div>
        <!-- /.row -->
        </div>
      <!-- /.container-fluid -->
    </section>
</template>
<script>
import axios from 'axios'
 export default {
     data(){
         return {
             allinputs:{},
         }
     },
     mounted() {
       this.AllinputLoad();
   
    },
    created() {
            const token = localStorage.getItem('token');
            if(token == null){
                this.$router.push('/Login')
            }
        },
    methods:{
        AllinputLoad(){
            axios.get(`http://127.0.0.1:8000/api/multiple-file-view`)
                .then(response => {
                console.log(response)
                this.allinputs = response.data;
            });
        },
        deleteFiles(id) {
            axios.delete(`http://127.0.0.1:8000/api/multiple-file-delete/`+id)
            .then(() => {
                this.AllinputLoad();
            })
        }
    },
     
 }
</script>
