<template>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6 offset-2">
         
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Multiple file Add</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form  @submit.prevent="fileUpload"  enctype="multipart/form-data">
                <div class="card-body">
                  
                  <div class="form-group">
                    <label for="image">First File input</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file"
                          v-on:change="onImageChange"
                          class="form-control"  
                          id="image" 
                        >  
                      </div>
                      <!-- <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                      </div> -->
                    </div>
                  </div>  

                  <div class="form-group">
                    <label for="image">Secound File input</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file"
                          v-on:change="onImageChange"
                          class="form-control"  
                          id="image" 
                        >  
                      </div>
                      <!-- <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                      </div> -->
                    </div>
                  </div> 

                  <div class="form-group">
                    <label for="image">Third File input</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file"
                          v-on:change="onImageChange"
                          class="form-control"  
                          id="image" 
                        >  
                      </div>
                      <!-- <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                      </div> -->
                    </div>
                  </div> 

                  <div class="form-group">
                    <label for="image">Fourth File input</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file"
                          v-on:change="onImageChange"
                          class="form-control"  
                          id="image" 
                        >  
                      </div>
                      <!-- <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                      </div> -->
                    </div>
                  </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
     
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
</template>
<script>
import axios from 'axios'
 export default {
     data(){
       return {
           fileone:'',
           filetwo:'',
           filethree:'',
           filefour:'',
       }
     },
     methods:{
        onImageChange(e){
            console.log(e.target.files[0]);
            this.fileone = e.target.files[0];
            this.filetwo = e.target.files[0];
            this.filethree = e.target.files[0];
            this.filefour = e.target.files[0];
        },
        fileUpload(e){
          e.preventDefault();            
          let currentObj = this;
          const config = {
              headers: { 'content-type': 'multipart/form-data' }
          }
          let formData = new FormData();
          formData.append('fileone', this.fileone);
          formData.append('filetwo', this.filetwo);
          formData.append('filethree', this.filethree);
          formData.append('filefour', this.filefour);
          axios.post(' http://127.0.0.1:8000/api/multiple-file',formData,config)
          .then(function (response) {
              currentObj.success = response.data.success;
                  this.$toast.success({
                    title:'Success',
                    message:' Upload Succesfully'
                  })
              
          })
          .catch(function (error) {
              currentObj.output = error;
          });
          this.$router.push('/fileshow')

        }

        }
     }
 
</script>