<template> 
<!-- <div><h2>Lheader</h2></div> -->

 <div v-if="$route.meta.hideHeader">
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <router-link class="nav-link border" aria-current="page" to="/createblog">Cretare Blog</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link border" to="/bloglist">Blog List</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link border" to="/number">Number</router-link>
              </li>
              
            </ul>
          </div>
          <div>
            <a class="nav-link border" @click="logOut()" >Log Out</a>            
          </div>
        </div>
      </nav>
    </div>
 </div>
  <!--  -->
</template>

<script>

export default {
  data() {

  },
  methods: {
    logOut(){
        localStorage.removeItem('token');
        this.$router.push('/Login');
    },
  }  
}
</script>
