<template>
    <div class="">
        <form class="mt-5" @submit.prevent="login">
            <div class="row form-group">
                <div class="offset-1 col-lg-6">
                    <div class="row ">
                        <div class="col-lg-2">
                            <label>Email</label>
                        </div>
                        <div class="col-lg-8">
                            <input 
                            type="email" 
                            class="form-control"
                            v-model="LogForm.email"
                            :class="{ 'is-invalid': LogForm.errors.has('email') }">
                            <has-error :form="LogForm" field="email"></has-error>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-2 ">
                            <label>Password</label>
                        </div>
                        <div class="col-lg-8">
                            <input 
                            type="password" 
                            class="form-control"
                            v-model="LogForm.password"
                            :class="{ 'is-invalid': LogForm.errors.has('password') }">
                            <has-error :form="LogForm" field="password"></has-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-4 mt-2">
                            <button type="submit" class="btn btn-primary ml-auto" >Login</button>
                        </div>
                    </div>    
                </div>
            </div>    
        </form>
    </div>
</template>
<script>
    import { Form } from 'vform';
    export default {
        data () {
            return {
                // Create a new form instance
                LogForm: new Form({
                    email: '',
                    password: ''
                })
            }
        },
        methods: {
            login() {
                this.LogForm.post('http://127.0.0.1:8000/api/login')
                .then((response) =>{                    
                    localStorage.setItem('token', response.data.token)
                    this.$toast.success({
                        title:'success',
                        message:'Login Successfully.'
                    });
                    this.$router.push('/fileshow')
                });
            }
        },
        // mounted() {
        //     const token = localStorage.getItem('token');
        //     if(token != null){
        //         this.$router.push('')
        //     }
        // },
    }

</script>