<template>
 <div v-if="$route.meta.hideNavigation">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item ">
                <router-link class="nav-link border" to="./">Home</router-link>
              </li>
              <li class="nav-item ">
                <router-link class="nav-link border" to="./ccreate">Country Create</router-link>
              </li>
              <li class="nav-item ">
                <router-link class="nav-link border" to="./clist">Countries View</router-link>
              </li>
              <li class="nav-item ">
                <router-link class="nav-link border" to="./">Division Create</router-link>
              </li>
              <li class="nav-item ">
                <router-link class="nav-link border" to="./">Divisions View</router-link>
              </li>
              <li class="nav-item ">
                <router-link class="nav-link border" to="./register">User Registration</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link border ml-1 " to="./login">User Login</router-link>
              </li>
            </ul>
          </div>
        </nav>
    </div>
 </div>
</template>

<script>

export default {
    
}
</script>
