<template>
  <div>
        <div class="container-fluid mt-5">
        <div class="row">
            
            <div class="offset-1 col-lg-10 bg-warning mb-3">
                <h5 class="text-center"> Total Number</h5>
            </div>
        </div>
        <form>
            
            <div class="row">
                <div class="form-group col-lg-2 offset-1">
                    <label for="bangla">Bangla</label>
                    <input v-model.number="bangla" type="text" @input="totalNumber" class="form-control">
                </div>
                <div class="form-group col-lg-2">
                    <label for="english">English</label>
                    <input v-model.number="english" type="text" @input="totalNumber" class="form-control">
                </div>
                <div class="form-group col-lg-2">
                    <label for="math">Math</label>
                    <input v-model.number="math" type="text" @input="totalNumber" class="form-control">
                </div>
                <div class="form-group col-lg-2">
                    <label for="science">Science</label>
                    <input v-model.number="science" @input="totalNumber" type="text" class="form-control">
                </div>
                <div class="form-group col-lg-2">
                    <label for="total_number">Total Number</label>
                    <input v-model="total_number" type="text" class="form-control">
                </div>
            </div>
        </form>
    </div>
  </div>
</template>
<script>
export default {
    data() {
        return {
            bangla: '',
            english: '',
            math: '',
            science: '',
            total_number: ''
        }
    },
    mounted(){
        const token = localStorage.getItem('token');
        if(token == null){
            this.$router.push('/Login')
        }
    },
    methods: {
        logOut(){
            localStorage.removeItem('token');
            this.$router.push('/Login');
        },
        totalNumber(){
            if(this.bangla > 100){
                this.bangla = 100;
                alert("Number must be use bellow 101", + this.bangla);
            }
            if(this.english > 100){
                this.english = 100;
                alert("Number must be use bellow 101", + this.english);
            }
            if(this.math > 100){
                this.math = 100;
                alert("Number must be use bellow 101", + this.math);
            }
            if(this.science > 100){
                this.science = 100;
                alert("Number must be use bellow 101", + this.science);
            }
            this.total_number = (this.bangla + this.english + this.math + this.science);
        }
    }
}
</script>