<template>
    <div class="">
        <form @submit.prevent="registerForm" class="mt-5">
            <div class="row form-group">
                
                <div class="offset-1 col-lg-6">
                    <div class="row ">
                        <div class="col-lg-2">
                            <label>Name</label>
                        </div>
                        <div class="col-lg-8">
                            <input 
                            type="text" 
                            class="form-control"
                            v-model="ResForm.name"
                            :class="{ 'is-invalid': ResForm.errors.has('name') }">
                            <has-error :form="ResForm" field="name"></has-error>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-2">
                            <label>Email</label>
                        </div>
                        <div class="col-lg-8">
                            <input 
                            type="email" 
                            class="form-control"
                            v-model="ResForm.email"
                            :class="{ 'is-invalid': ResForm.errors.has('email') }">
                            <has-error :form="ResForm" field="email"></has-error>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-2 ">
                            <label>Password</label>
                        </div>
                        <div class="col-lg-8">
                            <input 
                            type="password" 
                            class="form-control"
                            v-model="ResForm.password"
                            :class="{ 'is-invalid': ResForm.errors.has('password') }">
                            <has-error :form="ResForm" field="password"></has-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-4 mt-2">
                            <button type="submit" class="btn btn-primary ml-auto" >Register</button>
                        </div>
                    </div>
                    
                </div>
            </div>    
        </form>
    </div>
</template>
<script>
    import { Form } from 'vform'
    export default {
        data () {
            return {
                // Create a new form instance
                ResForm: new Form({
                    name: '',
                    email: '',
                    password: ''
                })
            }
    },
    methods:{
        registerForm(){
            this.ResForm.post('http://127.0.0.1:8000/api/Register')
            .then(() =>{
            //   console.log(response.data);
                this.ResForm.reset();
                this.$toast.success({
                            title:'success',
                            message:'Register Successfully.'
                        });
            });
            }
    },
    mounted() {
        const token = localStorage.getItem('token');
            if(token != null){
                this.$router.push('/Number')
            }
    }
}
</script>
<style >
    
</style>