<template>
    <div  class="container-fluid">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="slider1.jpg" class="d-block w-100" alt="slider1">
                </div>
                <div class="carousel-item">
                    <img src="slider2.jpg" class="d-block w-100" alt="slider2">
                </div>
                <div class="carousel-item">
                    <img src="slider3.jpg" class="d-block w-100" alt="slider3">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>