<template>
    <div class="row mt-5">     
        <div class="offset-3 col-lg-6">
            <ValidationObserver v-slot="{ handleSubmit }">
                <form @submit.prevent="handleSubmit(onSubmit)">           
                    <ValidationProvider name="Name" rules="required|alpha" v-slot="{ errors }">
                        <div class="form-group">
                            <label>Name</label>
                            <input v-model="name" class="form-control" type="text">
                            <span>{{ errors[0] }}</span>
                        </div>
                    </ValidationProvider>

                    <ValidationProvider name="E-mail" rules="required|email" v-slot="{ errors }">
                        <div class="form-group">
                            <label>Email</label>
                            <input v-model="email" class="form-control" type="email">
                            <span>{{ errors[0] }}</span>
                        </div>
                    </ValidationProvider>

                    <ValidationProvider name="Password" rules="required|min:3|max:10" v-slot="{ errors }">
                        <div class="form-group">
                            <label>Password</label>
                            <input v-model="Password" class="form-control" type="Password">
                            <span>{{ errors[0] }}</span>
                        </div>
                    </ValidationProvider>

                    <ValidationProvider name="Gender" rules="required" v-slot="{ errors }">
                        <div class="form-group">
                            <label class="text-left">Gender</label>
                            <select name="gender" class="form-control" v-model="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                            <span>{{ errors[0] }}</span>
                        </div>
                    </ValidationProvider>

                    <ValidationProvider name="AcceptTarms" rules="required|min:3|max:10" v-slot="{ errors }">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" v-model="acceptTarms">
                            <label class="form-check-label">AcceptTarms</label>  
                        </div>
                        <span>{{ errors[0] }}</span>
                    </ValidationProvider>

                    <div>
                        <button type="submit" class="btn btn-success mt-3">Submit</button>
                    </div>
                </form>
            </ValidationObserver>
        </div>
    </div>
</template>
<script>
export default {
   data () {
       return {
           formData: {
               name: "",
               email: "",
               password: "",
               gender: "",
               acceptTarms: ""
           }
       }
   },
   mounted() {
       const token = localStorage.getItem('token');
            if(token != null){
                this.$router.push('/Number')
            }
       console.log("validation page loaded");
   },
   methods: {
       onSubmit(){
           console.log(this.formData);
           this.formData.reset();
       }
   } 
}
</script>
<style scoped>

</style>