<template>
  <div id="app">
    <Navbar></Navbar>
    <Lheader></Lheader>
    <router-view></router-view>
  </div>
</template>

<script>
 import Navbar from './components/Navbar'
 import Lheader from './components/Lheader'
// import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'App',
  components: {
     Navbar,
     Lheader
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
